::selection {
  background: brown;
  color: #FFF;
}
/*
@font-face {
  font-family: isekai;
  src: url(fonts/HachiMaruPop.ttf);
}

@font-face {
  font-family: elegant;
  src: url(fonts/Foglihtenno07-8qnn.otf);
}
*/
.u{
	text-decoration: underline;
}

.br, .br2{
	display: none;
}

.gbox{
	padding: 10px;
	border-left: ridge 5px #A66;
	border-radius: 5px;
}

#logo{
	position: absolute;
	border: solid 2px #111;
	border-radius: 100%;
	left: -6vw;
	top: -6vh;
	width: 150px;
	cursor: pointer;
	background: black;
	transition: all 0.2s;
}

#logo:hover{
	border: solid 2px #333;
	padding: 5px;
	left: -1vw;
	top: -1vh;
}

#home-logo{
	margin-right: 25px;
	width: 200px;
	transition: width 0.5s;
	cursor: pointer;
}

#home-logo:hover{
	width: 225px;
}

#jlpt{
	display: none;
}

html{
	overflow-x: hidden;
	position: relative;
  min-height: 100vh;
}

body{
	background: url('../img/3.png') fixed no-repeat;
	text-align: center;
	margin: 0;
  position: relative;
  min-height: 100vh;
  font-family: elegant;
}

h1{
	padding: 20px;
	margin: 0;
}

ul{
	width: 28vw;
	margin: auto;
}

li{
	font-size: 1.3em;
}

#banner{
	background: rgba(0,0,0,0.33);
}

h2, h3, p{
	font-family: "Time New Roman";
}

h2{
	font-size: 2em;
}

h2:not(:first-child){
	background: #700000;
	color: #FFF;
	margin-left: 3vw;
	margin-right: 3vw;
	padding-top: 15px;
	padding-bottom: 15px;
}

p{
	font-size: 1.3em;
	margin: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

#chapbox, #voc{
	width: 86vw;
	display: box;
	margin: auto;
}

#main{
	color: #222;
	padding: 5px;
	background: url(../img/corner-top-right.png) no-repeat 100% 0%, url(../img/corner-top-left.png) no-repeat 0% 0%, white;
	border: solid 5px #222;
	background-size: 10%;
}

.isekai{
	user-select: none;
	color: white;
	font-family: isekai;
	font-size: 1.2em;
	text-shadow: -3px 0px black;
}

.elegant{
	user-select: none;
	color: white;
	text-shadow: -3px 0px black;
	font-family: elegant;
	font-size: 1.2em;
}

#menu2, #menu, #ch-menu{
	box-shadow: 0px 1px #111;
	text-align: center;
	background: #222;
	color: white;
	font-size: 1.5em;
	cursor: pointer;
	user-select: none;
}

#ch-menu{
	display: inline-block;
	width: 100%;
}

#ch-menu .menu-el{
	border-right: grey solid 1px;
}

#ch-menu .menu-el:first-child{
	border-left: grey solid 1px;
}

#footer{
	box-shadow: 0px -1px #111;
	position: absolute;
	text-align: center;
	cursor: pointer;
	background: #222;
	width: 100vw;
	bottom: 0;
	bottom: -13rem;
	user-select: none;
}

.ex, .trad, .hira{
	padding: 10px;
	background: #EDD;
	font-size: 1.3em;
	width: 75vw;
	margin: auto;
	margin-top: 5px;
	border-radius: 5px;
}

.ex{
	border: solid 1px #ABB;
	color: #333;
}

.hira{
	background: #DDE;
	border: solid 1px #AAB;
	color: #778;
}

.trad{
	border: solid 1px #BAB;
	background: #DED;
	color: #787;
}

.b{
	color: #D05;
}

table{
	margin: auto;
	color: #FFF;
	border-spacing: 3vw 1px;
}

th{
	padding: 5px;
	color: brown;
	font-size: 1em;
}

td{
	border-radius: 3px;
	font-size: 1.2em;
	padding: 8px;
	transition: all 0.1s;
}

#voc{
	border-spacing: 2px 2px;
	font-family: "Yu Mincho";
}

#voc th{
	background: #303;
	color: #FFEFFF;
}

#voc td{
	background: #EEE;
	max-width: 10vw;
	color: #222!important;
}

#voc tr:nth-child(2n) td{
	background: #DADADA;
}

#voc td:first-child{
	width: 2vw;
}

#footer td:hover{
	background: brown;
}

#main td{
	font-size: 1.3em;
	color: #770000;
	padding: 5px;
}

.menu-el{
	display: inline-block;
	padding: 20px;
	transition: all 0.1s;
}

.menu-el:hover{
	color: #FFF;
	background: brown;
	box-shadow: 0px 1px brown;
	padding-left: 25px;
  padding-right: 25px;
}

.inlink:hover{
	width: 100%;
}

.inlink{
	user-select: auto;
	color: blue;
	display: inline;
	font-size: 1em;
	text-decoration: underline;
}

a{
	font-size: 1.3em;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	width: 80vw;
	color: white;
	cursor: pointer;
	user-select: none;
	transition: width 0.5s;
	text-decoration: none;
}

a:hover{
	width: 75vw;
}

#bio{
	display: none;
	animation: fadein 0.5s forwards;
	position: relative;
	width: 50vw;
	margin: auto;
	padding: 5px;
	background: #FFEFEF;
}

.squaaare{
	margin: auto!important;
	transition: all 0.5s;
	cursor: pointer;
	user-select: none;
	width: 50vw;
	position: relative!important;
}

.squaaare:hover{
	width: 54vw;
	height: 7vh;
	border-radius: 5px;
}

.chap{
	margin: 0!important;
	width: 100%;
}

.num{
	position: absolute;
	left: 8vw;
}

#chapbox a{
	display: inline-block;
	width: 100%;
	background: #EEE;
	font-size: 1.2em;
	color: black;

}

#chapbox a:hover{
	width: 102%;
	color: white;
	background: #222;
}

#chapbox a:nth-child(2n){
	background: #CCC;
}

#chapbox a:nth-child(2n):hover{
	background: #222;
}

.black{
	background: #222!important;
}

.brown{
	background: brown;
}

.babyred{
	background: #A00!important;
}

.lightred{
	background: #900!important;
}

.red{
	background: #600!important;
}

.darkred{
	background: #300!important;
}

.rainbow{
	animation: rainbow 1s infinite;
}

.rainbow:hover{
	animation: rainbow 0.3s infinite;
}

@media (max-width: 630px){
	.br, .br2{
		display: inline;
	}

	#jlpt{
		display: inline-block;
	}

	#bio{
		width: auto;
	}

	.tate{
		display: none;
	}

	#chapbox, #voc{
	width: 93vw;
	}

	.squaaare{
		width: auto;
	}

	.squaaare:hover{
		width: auto;
	}
}

@media (max-width: 800px){
	#logo{
		display: none!important;
	}

	.br2{
		display: inline;
	}

	ul{
		width: 50vw;
	}

	h2{
		font-size: 1.6em;
	}

	a{
		font-size: 1.4em;
	}

	#menu{
		display: grid;
		grid-template-areas: "home initiation" "jlpt outils";
	}

	#jlpt{
		display: inline-block;
	}

	#menu .menu-el{
		font-size: 0.7em;
	}

	#menu2 .menu-el{
		display: none;
	}

	#chapbox .menu-el{
		padding: 13px;
	}
}

@media (min-width: 1920px){
	#logo{
		left: -4vw;
		top: -4vh;
	}
}

@keyframes fadein{
	0%{
		opacity: 0;
		top: -20vh;
	}

	50%{
		opacity: 0;
	}

	100%{
		opacity: 1;
		top: 0;
	}
}

@keyframes rainbow{
	0%{
		background: darkorange;
	}

	25%{
		background: darkred;
	}

	50%{
		background: hotpink;
	}

	75%{
		background: darkmagenta;
	}	

	100%{
		background: darksalmon;
	}
}