::selection {
  background: brown;
  color: #FFF;
}
/*
@font-face {
  font-family: isekai;
  src: url(fonts/HachiMaruPop.ttf);
}

@font-face {
  font-family: elegant;
  src: url(fonts/Foglihtenno07-8qnn.otf);
}
*/
.u{
	text-decoration: underline;
}

.br, .br2{
	display: none;
}

#search{
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 15px;
}

r{
	color: #E00;
	font-weight: bold;
}

pink{
	color: hotpink;
	font-weight: bold;
}

v{
	color: violet;
	font-weight: bold;
}

blue{
	color: #0692E1;
	font-weight: bold;
}

c{
	color: cyan;
	font-weight: bold;
}

purp{
	color: mediumpurple;
	font-weight: bold;
}

input{
	padding: 5px;
	border-radius: 3px;
	height: 3vh;
}

input:focus{
	outline: none;

}

button{
	position: relative;
	top: 1px;
	padding: 4px;
	height: 5vh;
}

#discord{
	cursor: pointer;
	position: fixed;
	right: 15px;
	width: 64px;
	transition: 0.2s;
	z-index: 1;
}

#discord:hover{
	width: 70px;
}

.gbox{
	font-size: 1.1em;
	padding: 10px;
	border-left: ridge 5px #A66;
	border-radius: 5px;
}

#logo{
	position: absolute;
	border: solid 2px #111;
	border-radius: 100%;
	left: -6vw;
	top: -6vh;
	width: 150px;
	cursor: pointer;
	background: black;
	transition: all 0.2s;
}

.conj, .pi{
	background: #222;
	color: white;
	padding: 5px;
	max-width: 50vw;
	margin: auto;
	border-radius: 5px;
	border: ridge #555 4px;
}

.conj .b{
	color: #F05;
}

.pi{
	color: black;
	background: #EEE;
	border: 1px #DDD solid;
	text-align: center;
	margin-top: 10px;
}

#logo:hover{
	border: solid 2px #333;
	padding: 5px;
	left: -1vw;
	top: -1vh;
}

#home-logo{
	margin-right: 25px;
	width: 150px;
	transition: width 0.5s;
	cursor: pointer;
}

#home-logo:hover{
	width: 175px;
}

#jlpt{
	display: none;
}

html{
	overflow-x: hidden;
	position: relative;
  min-height: 100vh;
  font-family: arial;
  background: #333;
}

body{
	background: url('../img/3.png') 97% 0% no-repeat;
	text-align: center;
	margin: 0;
  position: relative;
  min-height: 100vh;
}

h1{
	font-size: 1.5em;
	padding: 20px;
	margin: 0;
}

ul{
	width: 28vw;
	margin: auto;
}

li{
	font-size: 1.2em;
}

#banner{
	background: rgba(0,0,0,0.33);
}

h2{
	font-size: 1.2em;
	color: #EDEDED;
}

h2:not(:first-child){
	background: #700000;
	color: #FFF;
	margin-left: 3vw;
	margin-right: 3vw;
	padding-top: 15px;
	padding-bottom: 15px;
}

p{
	font-size: 1.2em;
	margin: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

#chapbox, #voc{
	width: 86vw;
	display: box;
	margin: auto;
}

.exbox{
	border-radius: 4px;
	display: inline-block;
	background: #454545;
	padding: 25px;
	padding-top: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

#main{
	width: 50vw;
	margin: auto;
	color: #EDEDED;
	padding: 5px;
	background: url(../img/corner-top-right.png) no-repeat 100% 0%, url(../img/corner-top-left.png) no-repeat 0% 0%, #333;
	border-top: solid 5px #222;
	background-size: 10%;
}

#main h1{
	font-size: 1.8em;
	color: #EDEDED;
}

#main h3{
	color: #EDEDED;
	margin: 0px;
	margin-bottom: 15px;
}

.isekai{
	user-select: none;
	color: #EDEDED;
	font-size: 1.2em;
	text-shadow: -3px 0px black;
}

.elegant{
	user-select: none;
	color: #EDEDED;
	text-shadow: -3px 0px black;
	font-size: 1.2em;
}

#menu2, #menu, #ch-menu{
	box-shadow: 0px 1px #111;
	text-align: center;
	background: #222;
	color: #EDEDED;
	font-size: 1.2em;
	cursor: pointer;
	user-select: none;
}

#ch-menu{
	display: inline-block;
	width: 100%;
}

#ch-menu .menu-el:hover{
	color: #EDEDED;
	background: #181818;
}

#ch-menu .menu-el{
	border-right: grey solid 1px;
}

#ch-menu .menu-el:first-child{
	border-left: grey solid 1px;
}

#footer{
	box-shadow: 0px -1px #111;
	position: absolute;
	text-align: center;
	cursor: pointer;
	background: #151515;
	width: 100vw;
	bottom: 0;
	bottom: -9rem;
	user-select: none;
}

.ex, .trad, .hira{
	padding: 10px;
	background: #EDD;
	font-size: 1.2em;
	width: 75vw;
	margin: auto;
	margin-top: 5px;
	border-radius: 5px;
}

.ex{
	border: solid 1px #ABB;
	color: #333;
}

h3{
	font-size: 1em;
}

.hira{
	background: #DDE;
	border: solid 1px #AAB;
	color: #778;
}

.trad{
	border: solid 1px #BAB;
	background: #DED;
	color: #787;
}

.b{
	color: #D05;
}

table{
	margin: auto;
	color: #EDEDED;
	border-spacing: 3vw 1px;
}

th{
	padding: 5px;
	color: brown;
	font-size: 1em;
}

td{
	border-radius: 3px;
	font-size: 1.1em;
	padding: 8px;
	transition: all 0.1s;
}

#voc{
	border-spacing: 1px 1px;
}

#voc th{
	background: #A00;
	color: #FFEFFF;
}

#voc td{
	background: #EEE;
	max-width: 10vw;
	border-radius: 0px;
	color: #222!important;
}

#voc tr:nth-child(2n) td{
	background: #EADADA;
}

#voc td:first-child{
	width: 2vw;
}

#footer td:hover{
	background: brown;
}

#main td{
	font-size: 1.2em;
	color: #770000;
	padding: 5px;
}

.menu-el{
	display: inline-block;
	padding: 20px;
	transition: all 0.1s;
}

#jlpt:hover, #home:hover, #initiation:hover, #outils:hover{
	color: #FFF;
	background: purple;
	box-shadow: 0px 1px purple;
	padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
}

#n5, #n4, #n3, #n2, #n1{
	border-radius: 5px;
}

#n5:hover{
	background: brown;
	box-shadow: 0px 1px brown;
}

#n4:hover{
	background: #FF6801;
	box-shadow: 0px 1px #FF6801;
}

#n3:hover{
	background: #FAB800;
	box-shadow: 0px 1px #FAB800;
}

#n2:hover{
	background: #02d538;
	box-shadow: 0px 1px #02d538;
}

#n1:hover{
	background: #0692E1;
	box-shadow: 0px 1px #0692E1;
}

.inlink:hover{
	width: 100%;
}

.inlink{
	user-select: auto;
	color: #D05;
	display: inline;
	font-size: 1em;
	text-decoration: underline;
}

a{
	font-size: 1.2em;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	width: 80vw;
	color: white;
	cursor: pointer;
	user-select: none;
	transition: width 0.5s;
	text-decoration: none;
}

a:hover{
	width: 75vw;
}

.squaaare{
	margin: auto!important;
	transition: all 0.5s;
	cursor: pointer;
	user-select: none;
	width: 50vw;
	position: relative!important;
	border-radius: 5px;
}
.squaaare.blue{
	background: url('../img/n1.png') no-repeat, #0692E1;
}

.squaaare.green{
	background: url('../img/n2.png') no-repeat, #02d538;
}

.squaaare.yellow{
	background: url('../img/n3.png') no-repeat, #FAB800;
}

.squaaare.orange{
	background: url('../img/n4.png') no-repeat, #FF6801;
}

.squaaare.red{
	background: url('../img/n5.png') no-repeat, #A00;
}

.squaaare:hover{
	width: 53vw;
	height: 5vh;
	border-radius: 10px;
}

h2.squaaare{
	box-shadow: 2px 2px #222!important;
	margin-top: 4px!important;
}

.chap{
	margin: 0!important;
	width: 100%;
}

.num, .numw{
	position: absolute;
	left: 8vw;
	padding: 5px;
	border-radius: 100%;
	color: black;
}

#chapbox a:hover .num{
	color: white;
}

.numw{
	color: #EDEDED;
}

#num{
	color: #EDEDED;
	opacity: 0;
	position: absolute;
	float: left;
	padding-top: 4vw;
	padding-left: 5vw;
	font-size: 1.5em;
	transition: 0.5s;
}

#chapbox a{
	display: inline-block;
	width: 100%;
	background: #EEE;
	font-size: 1.2em;
	color: black;

}

#chapbox a:hover{
	width: 102%;
	color: white;
	background: #222;
}

#chapbox a:nth-child(2n){
	background: #CCC;
}

#chapbox a:nth-child(2n):hover{
	background: #222;
}

.green{
	background: #02d538;
}

.brown{
	background: brown;
}

.red{
	background: #A00;
}

.orange{
	background: #FF6801;
}

.yellow{
	background: #FAB800;
}

.blue{
	background: #0692E1;
}

@media (max-width: 630px){
	.br{
		display: inline;
	}

	#voc{
		font-size: 0.8em;
	}

	#jlpt{
		display: inline-block;
	}

	#bio{
		width: auto;
	}

	.tate{
		display: none;
	}

	#chapbox, #voc{
	width: 93vw;
	}

	.squaaare{
		width: auto;
	}

	.squaaare:hover{
		width: auto;
	}
}

@media (max-width: 800px){
	#logo{
		display: none!important;
	}

	#search{
		position: static;
		background: #222;
		margin: 0;
	}

	button{
		height: 37px;
		width: 37px;
		margin-right: 5px;
	}

	input{
		width: 80vw;
		margin: 5px;
		margin-right: 0;
		height: 25px;
	}

	.br2{
		display: inline;
	}

	.conj, .pi{
		max-width: 100vw;
	}

	#main{
		background-size: 15%;
		width: 90vw;
	}

	ul{
		width: 50vw;
	}

	a{
		font-size: 1.4em;
	}

	#menu{
		display: grid;
		grid-template-areas: "home initiation" "jlpt outils";
	}

	#jlpt{
		display: inline-block;
	}

	#menu .menu-el{
		font-size: 0.7em;
	}

	#menu2 .menu-el{
		display: none;
	}

	#chapbox .menu-el{
		padding: 13px;
	}
}

@media (max-width: 1150px){
	#logo{
		left: -12vh;
	}
}

@media (min-width: 1920px){
	#logo{
		left: -4vw;
		top: -4vh;
	}

	#main{
		min-height: 60vh;
	}

	button{
		top: -1px;
		height: 4.2vh;
		width: 4.2vh;
	}

	input{
		font-size: 1em;
	}
}

@media (min-width: 801px) and (max-width: 960px){
	.conj, .pi{
		max-width: 60vw;
	}

}

@keyframes fadein{
	0%{
		opacity: 0;
		top: -20vh;
	}

	50%{
		opacity: 0;
	}

	100%{
		opacity: 1;
		top: 0;
	}
}

@keyframes rainbow{
	0%{
		background: darkorange;
	}

	25%{
		background: darkred;
	}

	50%{
		background: hotpink;
	}

	75%{
		background: darkmagenta;
	}	

	100%{
		background: darksalmon;
	}
}